@model Daimler.Models.ChaIdtDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ChaIdtDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalnvoiceValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalnvoiceValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInoviceCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalInoviceCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFreightValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFreightValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFreightCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFreightCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInsValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalInsValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalInsCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalInsCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiscCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiscCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceMiscCurrency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceMiscCurrency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExchangeRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomTariffHeading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomTariffHeading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CentralExciseTariffHeading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CentralExciseTariffHeading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitofProductQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitofProductQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insurance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cifvalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cifvalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loading)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loading)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicDutyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicDutyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddlDutyExciseDutyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddlDutyExciseDutyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddlDutyExciseDutyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddlDutyExciseDutyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddlDutySubSec5Rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddlDutySubSec5Rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddlDutySubSec5Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddlDutySubSec5Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationCessRateExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationCessRateExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationCessAmountExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationCessAmountExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryhigherEducationCessRateExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryhigherEducationCessRateExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryhigherEducationCessAmountExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryhigherEducationCessAmountExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialWelfareSurchargeRateCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialWelfareSurchargeRateCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialWelfareSurchargeAmountCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialWelfareSurchargeAmountCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryhigherEducationCessRateCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryhigherEducationCessRateCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondaryhigherEducationCessAmountCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondaryhigherEducationCessAmountCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessableValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessableValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAssessable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAssessable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBasicDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBasicDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSurcharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSurcharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCvd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCvd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEducationCess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEducationCess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalEducationCessExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalEducationCessExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSocialWelfareSurchargeCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSocialWelfareSurchargeCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSechigherEducationCess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSechigherEducationCess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSechigherEducationCessExcise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSechigherEducationCessExcise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSechigherEducationCessCustoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSechigherEducationCessCustoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAdditonalDutySubSec5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAdditonalDutySubSec5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SplExciseDutySchedIiRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SplExciseDutySchedIiRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SplExciseDutySchedIiAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SplExciseDutySchedIiAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CessdutyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CessdutyRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cessduty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cessduty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeofTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeofTransport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consignor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consignor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Igstrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Igstrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Igstamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Igstamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadrate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadrate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sadamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sadamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalSad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalSad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
